# PostgreSQL Database Configuration for Task Tracker (main database)
POSTGRES_USER=some-user
POSTGRES_PASSWORD=some-password
POSTGRES_DB=task-tracker-db

# PostgreSQL Database Configuration for Cron Service (separate database)
POSTGRES_1_USER=some-user
POSTGRES_1_PASSWORD=some-password
POSTGRES_1_DB=cron-service-db

# Backend API Configuration
BACKEND_API_HTTP_PORT=some-port
BACKEND_API_GRPC_PORT=some-port
BACKEND_API_DB_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable

# JWT Configuration
JWT_SECRET=your-256-bit-base64-encoded-jwt-secret-here-minimum-32-chars

# Kafka Configuration
KAFKA_BROKERS=kafka:9092
USERS_REGISTRATION_TOPIC=users.registration
USERS_REGISTRATION_GROUP_ID=email-sender-user
DAILY_REPORT_TOPIC=tasks.daily-report
DAILY_REPORT_GROUP_ID=email-sender-task
USERS_REGISTRATION_GROUP_ID=email-sender-user
DAILY_REPORT_GROUP_ID=email-sender-tasks
NUM_PARTITIONS=1
REPLICATION_FACTOR=1

# Cron Service Configuration
CRON_SERVICE_DB_URL=postgres://${POSTGRES_1_USER}:${POSTGRES_1_PASSWORD}@postgres1:5432/${POSTGRES_1_DB}?sslmode=disable
BACKEND_API_GRPC_ADDR=backend-api:${BACKEND_API_GRPC_PORT}

# Email Sender Configuration
EMAIL_SENDER_DB_URL=postgres://${POSTGRES_2_USER}:${POSTGRES_2_PASSWORD}@postgres2:5432/${POSTGRES_2_DB}?sslmode=disable
OUTBOX_WORKERS_COUNT=5
OUTBOX_INTERVAL_SEC=2
OUTBOX_BATCH_SIZE=10

SMTP_HOST=smtp_host
SMTP_PORT=smtp_port
SMTP_USERNAME=smtp_username
SMTP_PASSWORD=smtp_password
SMTP_FROM=smtp_from
SMTP_TIMEOUT_SEC=10