# PostgreSQL Database Configuration for Task Tracker (main database)
POSTGRES_USER=some-user
POSTGRES_PASSWORD=some-password
POSTGRES_DB=task-tracker-db

# PostgreSQL Database Configuration for Cron Service (separate database)
POSTGRES_1_USER=some-user
POSTGRES_1_PASSWORD=some-password
POSTGRES_1_DB=cron-service-db

# Backend API Configuration
BACKEND_API_HTTP_PORT=some-port
BACKEND_API_GRPC_PORT=some-port
BACKEND_API_DB_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable

# JWT Configuration
JWT_SECRET=your-256-bit-base64-encoded-jwt-secret-here-minimum-32-chars

# Kafka Configuration
KAFKA_BROKERS=kafka:9092

# Cron Service Configuration
CRON_SERVICE_DB_URL=postgres://${POSTGRES_1_USER}:${POSTGRES_1_PASSWORD}@postgres1:5432/${POSTGRES_1_DB}?sslmode=disable
BACKEND_API_GRPC_ADDR=backend-api:${BACKEND_API_GRPC_PORT}